*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
}

/* Top Menu Start */
.top-menu{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: .8rem;
  /* FIXME: RISOLVERE PROBLEMA FIXED*/
  /* position: fixed; */
}

.top-menu li{
  margin: 0 10px;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  display: flex;
  align-items: center;;
}

.top-menu-right ul li:last-child a{
  background-color: rgb(57, 99, 255);
  color: white;
  padding: 5px 10px;
}
/* Top Menu End */


/* Jumbotron Start */
.jumbo{
  height: 600px;
  background-color: rgb(185, 206, 231);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.jumbo-container{
  display: flex;
  width: 70%;
  text-align: center;
  font-weight: 600;
}

.jumbo-text{
  text-align: left;
  width: 70%;
  font-size: 3rem;
  font-weight: 750;
  margin-top: 100px;
  margin-bottom: 40px;
}

.jumbo-text-small span{
  text-align: left;
  width: 350px;
  margin-bottom: 30px;
}

.jumbo-text-small{
  display: flex;
  flex-flow: column;
}

.jumbo-text-small:first-child div{
  max-width: fit-content;
  margin-bottom: 30px;
}

.jumbo-container div span a{
  text-align: left;
  padding: 7px 10px;
  background-color: rgb(57, 99, 255);
  color: white;
}

.bi-arrow-down-short{
  display: flex;
  font-size: 4rem;
}

.jumbo-img{
  display: flex;
}

.jumbo-img img{
  max-height: 400px;
}
/* Jumbotron End */


/* Main Start */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

main section{
  width: 55%;
}

main h2{
  text-align: left;
  margin-bottom: 40px;
}

/* Business plan Start */
.business-radio{
  justify-content: space-between;
}

#year{
  margin-left: 50px;
}

.plan{
  margin-top: 30px;
  display: flex;
}

.plan div{
  display: flex;
  flex-flow: column;
  width: 33%;
}

.box{
  display: flex;
  text-align: left;
  border: 1.5px solid rgba(128, 128, 128, 0.397);
  margin: 0 20px;
  font-size: .85rem;
}

.box-title{
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.397);
}

.box-content h3{
  font-weight: 750;
}

.box span{
  padding: 10px;
  text-align: left;
}

.box-content p a{
  color: purple;
  text-decoration: underline;
}

.plan-trial{
  text-align: center;
  color: white;
  padding: 10px;
  background-color: rgb(60, 103, 255);
  font-weight: 500;
}

.bi.bi-check-lg{
  color: rgb(60, 103, 255);
  font-size: 1.2rem;"
}

.box.bottom{
  display: flex;
  flex-flow: column;
  width: 52%;
  margin-top: 20px;
}

.box.bottom .box-title{
  width: 100%;
}

.box.bottom .content{
  position: relative;
  padding: 20px;
}

.box.bottom .content p{
  width: 70%;
}

.box.bottom .content span{
  text-align: center;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  padding: 10px;
  background-color: rgb(60, 103, 255);
  font-weight: 500;
}
/* Business plan End */

/* Images Start */
.images-container{
  display: flex;
  width: 52%;
  margin: 100px 0;
}

.images-container img{
  width: 60%;
}

.images-container span{
  padding: 25px;
}

.images-container p{
  margin: 10px 0;
  font-size: .85rem;
}

.images-container a{
  padding: 10px;
  border: 1px solid black;
}

.images-container.grid{
  display: flex;
  flex-flow: column;
}

.grid-container{
  display: flex;
}

.grid-container span{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;
}

.grid-container img{
  width: 100%;
}

.grid-bottom{
  width: 50%;
}

.grid-bottom a{
  color: purple;
  text-decoration: underline;
}
/* Images End */


/* Customers Start */
.customers{
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin-top: 100px;
}

.customers span{
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.left, .right{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.customers .left img, .right img{
  width: 6rem;
  filter: invert(100%);
}

#one{
  border: 10px solid rgb(212, 231, 204);
  background-color: rgb(171, 208, 153);
}

#two{
  background-color: rgb(88, 27, 48);
}

#three{
  background-color: rgb(73, 144, 205);
}

#four{
  background-color: rgb(231, 64, 42);
}

#five{
  background-color: rgb(191, 47, 42);
}

#six{
  background-color: rgb(185, 206, 231);
}

#seven{
  background-color: rgb(31, 42, 128);
}

#eight{
  background-color: rgb(246, 216, 53);
}

.customers .middle{
  display: flex;
  position: relative;
  text-align: left;
  width: 500px;
  height: 400px;
  overflow: auto;
}

.middle-content{
  position: absolute;
  top: 30px;
  left: 30px;
}

.middle-content hr{
  margin: 30px 0;
  width: 40%;
  color: lightgray;
}

.middle img{
  width: 10rem;
}

.customers-bottom{
  width: 1300px;
  height: 200px;
  background-color: rgb(185, 206, 231);
  margin-bottom: 100px;
  display: flex;
  justify-content: center
}

.customers-bottom .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers-bottom span{
  display: flex;
  width: 50%;
  color: rgb(88, 26, 47);
}

.customers-bottom span:last-child{
  display: flex;
  width: fit-content;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
}
/* Customers End */


/* FAQ Start */
.faq{
  display: flex;
  flex-flow: column;
  width: 64%;
}

.faq h1{
  margin-bottom: 30px;
}

.faq ul{
  display: flex;
  flex-flow: column;
  align-items: flex-start;

}

.faq li{
  display: flex;
  margin: 20px 0;
  font-weight: bold;
  border-top: 2px solid lightgray;
}
/* FAQ End */

/* Main End */